apiVersion: v1
kind: PersistentVolume
metadata:
  name: voyager-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data/db-json
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: voyager-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi