apiVersion: v1
kind: PersistentVolume
metadata:
  name: voyager-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/data/db-json
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: voyager-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
  namespace: argocd
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi